# Bazy danych (Twoje wydatki)
*.db
*.sqlite3

# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]
*$py.class

# Środowiska wirtualne
venv/
env/
ENV/

# Ustawienia edytorów (VS Code, PyCharm)
.vscode/
.idea/

# Pliki systemowe
.DS_Store
Thumbs.db